{% extends 'krd/contract_menu.html' %}

{% block content %}
    <div id="menu-header">
        <div class="basic-div">
            <form name="file_open" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" id="file"
                       accept=".xls, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                <input type="submit" value="Обработать">
                <input type="hidden" id="contractName" name="contractName" value={{ contract.slug }} />
            </form>
        </div>
    </div>
{% endblock %}

{% block data_order %}
    <div id="menu-header">
        <div class="basic-div">
            {% for key in data %}
                <p>{{ key }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}