{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base_app/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/base_home.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/sub_menu.css' %}">
    <link rel="stylesheet" href="{% static 'base_app/css/forms.css' %}">

    <title>Обработка</title>
</head>
<body>

<div id="container_header">
    <div id="menu_header">
        <div class="menu-header-left">
                <a href="/"><img src="{% static "base_app/images/slex-logo.png" %}" alt="SLEX"></a>
        </div>
        <div class="menu-header-center">
        {% if filial %}
                <h2><a href="{{ filial.get_home_url }}">{{ filial.name }}</a></h2>
        {% else %}
                <h2><a href="/">Главная</a></h2>
        {% endif %}
        </div>
        <div class="menu-header-right">
            {% if user.is_superuser %}
                <a href="/admin/">Сервис</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if user.first_name or user.last_name %}
                    <a href="{% url 'logout' %}">{{ user.get_full_name }}</a>
                {% else %}
                    <a href="{% url 'logout' %}">{{ user }}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
{#    <a href="javascript:window.history.back();"> <<<< </a>#}
    {% block menu %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block show_result %}
    {% endblock %}

    {% if error_msg %}
        <div id="header">
            <div class="basic-div">
                <div><label>
                    <textarea>{{ error_msg }}</textarea>
                </label></div>
            </div>
        </div>
    {% endif %}

    {% block modals %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</div>


</body>
</html>