{% extends 'base_app/base_templates.html' %}
{% load static %}

{% block menu %}
    <div id="basic_div_menu">
        <div class="menu">
            {% for menu in menus %}
                {% if contract_selected == menu.slug %}
                    <span class="selected"><a href="{{ menu.get_home_url }}">{{ menu.name }}</a></span>
                {% else %}
                    <span class="button_line"><a href="{{ menu.get_home_url }}">{{ menu.name }}</a></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
