#sub-menu {
    border-radius: 4px;
    list-style: none;
    padding-left: 0;
    background: RGB(150, 150, 150);
    max-height: max-content;
    min-width: 250px;
    max-width: max-content;
}

#sub-menu span {
    border-radius: 4px;
    border: 1px solid RGB(200, 200, 200);
    background: RGB(150, 150, 150);
    padding: 0 15px;
    height: min-content;
    line-height: 20px;
    display: block;
    cursor: pointer;
}

#sub-menu span:hover {
    background: RGB(80, 75, 200);
}

#sub-menu a {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}

